/* .row {
  display: flex;
  height: 200px;
  align-items: center;
  gap: 200px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.row {
  display: flex;
  height: fit-content;
  padding-top: 40px;
  padding-bottom: 20px;
  max-height: 200px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}
